a{
    padding-left: 30px;
    color: darkslategray;
}
body{
    background: darkseagreen;
}
p{
    margin: 35px 864px 0px 0px;
}
h3{
    padding-left: 30px;
}
h2{
    padding-left: 20px;
}
